RAG_Google_Drive_Tool.json
{
  "name": "RAG Google Drive Tool",
  "nodes": [
    {
      "parameters": {
        "options": {
          "dimensions": 1024
        }
      },
      "id": "46a4990c-875f-434a-97ff-87954ee8eeff",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        2300,
        620
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "0oIgWFfhbsOqJWo8",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "871d6224-779b-48ce-bd12-86f3a35669fd",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1900,
        1180
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "0oIgWFfhbsOqJWo8",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1024
        }
      },
      "id": "4490dd86-dd0a-44d3-afcf-68232a2bdd11",
      "name": "Embeddings OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        2400,
        1240
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "0oIgWFfhbsOqJWo8",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1LWcYe7CVCqFcdyLeEup490g7QK3plVEp",
          "mode": "list",
          "cachedResultName": "RAG Application",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1LWcYe7CVCqFcdyLeEup490g7QK3plVEp"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "e175f359-422d-4f54-a2ca-c0095c5638c6",
      "name": "Google Drive Trigger1",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "position": [
        1900,
        400
      ],
      "typeVersion": 1,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "AMw4PzcPCCAN8iCH",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "scrape",
          "mode": "list",
          "cachedResultName": "scrape"
        },
        "options": {}
      },
      "id": "777b36ed-d185-4c04-834f-29845cded31b",
      "name": "Pinecone Vector Store2",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        2380,
        400
      ],
      "typeVersion": 1.1,
      "credentials": {
        "pineconeApi": {
          "id": "EtJ7ehiT3lqtBQUk",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "id": "1a6548b2-5b92-4641-9e7d-f8c1741bd2f9",
      "name": "Default Data Loader1",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        2520,
        620
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f28ceb9e-f11b-486c-9fe8-a724bb650a5d",
      "name": "Recursive Character Text Splitter1",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        2540,
        740
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "8568fb23-c8b2-4b9a-ab43-909a28d9ac40",
      "name": "AI Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1900,
        920
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "knowledge_base",
        "toolDescription": "call this tool to access the database",
        "pineconeIndex": {
          "__rl": true,
          "value": "scrape",
          "mode": "list",
          "cachedResultName": "scrape"
        },
        "options": {}
      },
      "id": "baa56d12-1be1-49ef-919a-2a31ea7324cd",
      "name": "Pinecone Vector Store3",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        2200,
        1080
      ],
      "typeVersion": 1.2,
      "credentials": {
        "pineconeApi": {
          "id": "EtJ7ehiT3lqtBQUk",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "options": {}
      },
      "id": "44b5ef58-c314-4069-998f-3794c1bdabdb",
      "name": "Download file1",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        2120,
        400
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "AMw4PzcPCCAN8iCH",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        1640,
        820
      ],
      "id": "49d0097b-b2b2-4644-8ad2-3ff18bb2315b",
      "name": "When chat message received",
      "webhookId": "5c1be066-d763-46b7-8fb8-038504631ff2"
    }
  ],
  "pinData": {},
  "connections": {
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store3",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger1": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store2",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store3": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "efd1f8bd-aada-46b4-818b-7657b53bd1bf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "214af4f83a0f3596880e48f3694772c354ae3d905d2c2a5d673b2de25f3cc4e4"
  },
  "id": "cXo9ykeOmoQeCWkA",
  "tags": []
}